.card.bg-primary.text-light.mt-4.mb-4
  .card-header
    %h1=title
  .card-body
    = form_for company do |f|
      = render 'layouts/model_errors', model: company

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :logo
        = f.text_field :logo, class: "form-control"
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"
      .form-group
        = f.submit 'Save', class: 'btn btn-light'
