%h1.text-center.mb-4.mt-4 Companies

.row 
  .col-12.col-md-6.offset-md-3
    - if @companies.blank?
      .alert.alert-primary No companies registered yet
    - else 
      .list-group 
        = render @companies 