%nav.navbar.navbar-expand-md.navbar-dark.bg-primary
  = link_to 'Companies', root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      %li.navbar-item
        = link_to 'Companies list', companies_path, class: "nav-link #{active_class(companies_path)}"
      %li.navbar-item
        = link_to 'New company', new_company_path, class: "nav-link #{active_class(new_company_path)}"